 body {
    margin: 0;
    padding: 0;
}

.Pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../afbeeldingen/pizzasachtergrond.jpg')
}

main {
    flex-grow: 1;
}

.knoppen {
     display: flex;  
    justify-content: center;  
    align-items: center;  
    gap: 200px;
    height: 50px;  
}